<!DOCTYPE html>
<!-- TODO -->
<!-- Slide #19 Example Thymeleaf URL Expression -->
<!-- Add xml namespace for th to http://www.thymeleaf.org -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>I like Network Programming</title>
</head>

<body>
    <h1>NS4306 Network Programming</h1>
    <p>I love to learn this module</p>
    <!-- TODO -->
    <!-- Slide #19 Example Thymeleaf URL Expression -->
    <!-- Add the img tag -->
    <img th:src="@{ /images/SICT.jpg }" />
</body>

</html>
